<style>
    table {
        border-collapse: collapse;
        font-family: Calibri, sans-serif;
        width: 100%;
    }

    colgroup, tbody {
        border: solid medium;
    }

    td {
        border: solid thin;
        height: 51px;
        width: 11.11%;
        text-align: center;
        padding: 0;
    }

    input {
        border: none;
        width: 40px;
        text-align: center;
    }
    input:disabled {
        background-color: white;
    }

    .alert {
        margin-top:20px;
    }

    .btn-group {
        width: 100%;
    }
    .double-button {
        width: 50%;
    }
</style>

<div class="row">
    <div class="col-md-5">
        <div class="btn-group btn-group-lg" role="group" aria-label="...">
            <button ng-click="previousGrid()" type="button" class="btn btn-default double-button" ng-disabled="currentGrid === 0">
                <span class=" glyphicon glyphicon-chevron-left"></span>
            </button>
            <button ng-click="nextGrid()" type="button" class="btn btn-default double-button" ng-disabled="currentGrid === grids.length - 1">
                <span class=" glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
        <br><br>
        <table>
            <colgroup>
                <col>
                <col>
                <col>
            <colgroup>
                <col>
                <col>
                <col>
            <colgroup>
                <col>
                <col>
                <col>
            <tbody>
            <tr ng-repeat="row in grid track by $index">
                <td ng-repeat="number in row track by $index"><input maxlength="1" type="text" ng-model="grid[$parent.$index][$index]" ng-disabled="!editMode || savedGrid[$parent.$index][$index] > 0">
        </table>
        <div class="alert" role="alert" ng-show="showAlert"></div>
    </div>
    <div class="col-md-3">
        <a ng-if="!editMode" ng-click="edit()" class="btn btn-lg btn-block btn-default" data-toggle="tooltip" data-placement="left" data-animation="true" title="Edit manually the grid">
            <span class="glyphicon glyphicon-pencil pull-left"></span> Edit
        </a>
        <a ng-if="editMode" ng-click="edit()" class="btn btn-lg btn-block btn-primary" data-toggle="tooltip" data-placement="left" data-animation="true" title="Stop editing">
            <span class="glyphicon glyphicon-pencil pull-left"></span> Stop edit
        </a>
        <br>
        <a ng-click="check()" class="btn btn-lg btn-block btn-default" data-toggle="tooltip" data-placement="left" data-animation="true" title="Do I respect the rules for now ?">
            <span class="glyphicon glyphicon-flag pull-left"></span> Check rules
        </a>
        <br>
        <a ng-click="solve()" class="btn btn-lg btn-block btn-success" data-toggle="tooltip" data-placement="left" data-animation="true" title="Solve automatically the sudoku / Validate the grid">
            <span class="glyphicon glyphicon-ok pull-left"></span> Solve
        </a>
        <br>
        <a ng-click="reset()" class="btn btn-lg btn-block btn-danger" data-toggle="tooltip" data-placement="left" data-animation="true" title="Reset all the grid and inputs">
            <span class="glyphicon glyphicon-repeat pull-left"></span> Reset
        </a>
    </div>
    <div class="col-md-4">
        <p><strong>Informations :</strong></p>
        <p><i>Edit</i> button lets you update the grid yourself. Then, by clicking on solve, it will check the result.</p>
        <p><i>Check rules</i> lets you check if the actual grid respects the rules.</p>
        <p><i>Solve</i> it all by clicking on Solve button. It will solve automatically the all thing. Or check if you correctly resolved the grid.</p>
        <p><i>Reset</i> will reset the sudoku grid to the beginning.</p>
    </div>
</div>